$mainColor: #E91E63;

.header {
    height: 370px;
    background-color: #333;
    position: relative;
    transition: all 400ms;

    .header-wrap {
        max-width: 960px;
        margin: 0 auto;

        .header-bar {
            height: 26px;
            padding: 16px;

            .header-bar-input {
                width: 220px;
                height: 26px;
                border: none;
                outline: none;
                border-radius: 0;
                background: transparent;
                border-bottom: 1px solid transparentize(#fff, 0.8);
                float: right;
                color: #fff;
                padding: 0 8px;
            }
        }
    }

    .avatar {
        width: 142px;
        height: 142px;
        background-color: #222;
        border-radius: 50%;
        box-sizing: border-box;
        border: 4px solid #fff;
        position: absolute;
        bottom: -71px;
        left: 50%;
        margin-left: -71px;
    }
}
